@import '~materialize-css';

.topbar h1 {
	margin: 0;
	font-size: 3.5rem;
}

#form_add-car {
	margin-top: 3rem;
}

#table_cars {
	margin-top: 3rem;
}

.input-error {
	color: #f44336;
}

.car-option {
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.car-row:hover .car-option {
	opacity: 1;
}

.car-progress-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	visibility: visible;
	opacity: 1;
	margin: 0;
}

.car-progress-bar.hidden {
	visibility: hidden;
	opacity: 0;
}

.add-car.hidden {
	display: none;
}

.edit-car-buttons.hidden {
	display: none;
}

#cars-form-modal {
	width: 56%;
}

@import './media.scss';