@media only screen and (max-width: 992px) {
	.topbar h1 {
		font-size: 3rem;
	}
	
	table.responsive-table th {
		text-align: left !important;
	}

	.car-option {
		opacity: 1;
		text-align: center !important;
	}

	.update-car {
		margin-bottom: 1rem;
	}
}