<!DOCTYPE html>
<html>
    <head>
        <title>Cars app</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <nav class="topbar">
            <div class="nav-wrapper amber darken-3">
                <div class="container">
                    <div class="row">
                        <div class="col s12 right-align">
                            <h1>Symfony cars</h1>
                        </div>
                    </div>
                </div>              
            </div>
        </nav>        
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div id="body">
                        {% block body %}
                            
                        {% endblock %}
                    </div>
            
                    {% block javascripts %}
                        {{ encore_entry_script_tags('app') }}
            
                        <!-- Renders app.js & a webpack runtime.js file
                            <script src="/build/runtime.js"></script>
                            <script src="/build/app.js"></script> -->
                    {% endblock %}                 
                </div>
            </div>
        </div>
    </body>
</html>