{{ form_start(form, {attr: {id: 'form_add-car', rel: 'js-form_add-car', action: ''}}) }}
    <div class="card darken-1 z-depth-1">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    {{ form_errors(form) }}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <span class="card-title" rel="js-form_add-car-title">Добавление машины</span>
                </div>
            </div>  
            <div class="row">
                <div class="input-field col s12 m4" rel="js-{{ form.brand.vars.id }}">
                    {{ form_widget(form.brand, {'attr': {'id': 'brand', 'rel': 'js-input-brand'}}) }}
                    {{ form_label(form.brand, 'Марка') }}
                    <div rel="js-{{ form.brand.vars.id }}-error" class="input-error">
                        {{ form_errors(form.brand) }}
                    </div>
                </div>
                <div class="input-field col s12 m4" rel="js-{{ form.model.vars.id }}">
                    {{ form_widget(form.model, {'attr': {'id': 'model', 'rel': 'js-input-model'}}) }}
                    {{ form_label(form.model, 'Модель') }}
                    <div rel="js-{{ form.model.vars.id }}-error" class="input-error">
                        {{ form_errors(form.model) }}
                    </div>
                </div>
                <div class="input-field col s12 m4" rel="js-{{ form.wheel.vars.id }}">
                    {{ form_widget(form.wheel, {'attr': {'rel': 'js-input-wheel'}}) }}
                    <div rel="js-{{ form.wheel.vars.id }}-error" class="input-error">
                        {{ form_errors(form.wheel) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="add-car btn waves-effect waves-light amber darken-3" rel="js-add-car"><i class="material-icons right">add</i>Добавить</button>
                    <div class="edit-car-buttons hidden" rel="js-update-car-buttons">
                        <button type="submit" class="btn waves-effect waves-light blue update-car" rel="js-submit-update-car"><i class="material-icons right">refresh</i>Обновить</button>
                        <button class="btn waves-effect waves-light red" rel="js-cancel-update-car"><i class="material-icons right">cancel</i>Отмена</button>
                    </div>
                </div>
                <div class="col s12">
                    <div rel="js-input-errors">
        
                    </div>
                </div>
            </div>
        </div>
        <div class="progress car-progress-bar hidden" rel="js-add-car-preloader">
            <div class="indeterminate"></div>
        </div>
    </div>
{{ form_end(form) }}