{% extends 'base.html.twig' %}

{% block body %}
	<div rel='js-cars-wrapper'>
  	{{ include('cars/form.html.twig', {'form': form}) }}
  	{{ include('cars/table.html.twig', {'cars': cars}) }}
  	{{ include('cars/modal.html.twig') }}
  </div>
{% endblock %}