<div id="cars-form-modal" rel="js-cars-form-modal" class="modal">
  <div class="modal-content">
    <p>Вы действительно хотите удалить машину?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="waves-effect waves-green btn-flat" rel="js-cars-form-modal-yes">Да</a>
    <a href="#table_cars" class="modal-close waves-effect waves-green btn-flat" rel="js-cars-form-modal-no">Нет</a>
  </div>
  <div class="progress car-progress-bar hidden" rel="js-remove-car-preloader">
    <div class="indeterminate"></div>
  </div>
</div>