<table id="table_cars" rel="js-table_cars" class="striped highlight responsive-table">
    <thead>
        <th>Марка</th>
        <th>Модель</th>
        <th>Положение руля</th>
    </thead>
    <tbody rel="js-table_cars-body">
    {% for car in cars %}
        <tr data-id="{{ car.id }}" data-brand="{{ car.brand }}" data-model="{{ car.model }}" data-wheel="{{ car.wheel }}" class="car-row" rel="js-car-row">
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.wheel }}</td>
            <td class="car-option">
                <a href="#form_add-car" class="btn-floating btn-small waves-effect waves-light blue" rel="js-update-car"><i class="material-icons left">edit</i></a>
            </td>
            <td class="car-option">
                <a href="#" class="btn-floating btn-small waves-effect waves-light red" rel="js-remove-car"><i class="material-icons left">remove</i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>